* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    height: 50px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo, .link, .login {
    background-color: yellow;
    border: 1px solid black;
}

.logo, .login {
    width: 20%;
    padding: 0px 10px;
}
.login {
    display: flex;
    justify-content: end;
}

.link {
    width: 40%;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    justify-content: center;
    width: 100%;
}

li {
    text-align: center;
    width: 10%;
}

.row-intro {
    background-color: blue;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-intro {
    background-color: rgb(197, 106, 209);
    width: 70%;
    height: 150px;
    
}

.row {
    height: 250px;
}

.row, .last-main-row, .footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-text {
    background-color: skyblue;
    width: 35%;
}

.col-img {
    background-color: pink;
    width: 20%;
}

.col-text, .col-img {
    height: 200px;
    border: 1px solid black;
}

.gray, .last-main-row {
    background-color: lightgray;
}

.last-main-row {
    height: 500px;
}

.last-main-col {
    border: 1px solid black;
    background-color: green;
    height: 450px;
    width: 55%;
}

.footer-row {
    background-color: rgb(3, 26, 26);
    height: 350px;
}

.main-footer-col {
    height: 320px;
    border: 1px solid black;
    width: 25%;
    background-color: salmon;
}

.footer-col {
    height: 320px;
    border: 1px solid white;
    width: calc(30% / 4);
    background-color: aquamarine;
}

.footer-container {
    background-color: rgb(3, 26, 26);
    border: 1px solid white;
    height: 50px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: end;
}

.last-footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    height: 35px;
    background-color: aquamarine;
}

.footer-button {
    background-color: pink;
    height: 20px;
    border: 1px solid black;

}


