* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    height: 50px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo, .link, .login {
    background-color: yellow;
    border: 1px solid black;
}

.logo, .login {
    width: 20%;
}

.link {
    width: 40%;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    justify-content: center;
    width: 100%;
}

li {
    text-align: center;
    width: 10%;
}

.row-intro {
    background-color: blue;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-intro {
    background-color: rgb(197, 106, 209);
    width: 70%;
    height: 150px;
    
}

.row {
    height: 250px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-text {
    background-color: skyblue;
    width: 35%;
}

.col-img {
    background-color: pink;
    width: 20%;
}

.col-text, .col-img {
    height: 200px;
    border: 1px solid black;
}

.gray {
    background-color: lightgray;
}
